.mainSlide {
  width: 100%;
}

.slideItem {
  width: 100%;
  height: 750px;
  background: url("/main_img_bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideContent {
  max-width: 1200px;
  width: 100%;
  padding: 0 1rem;
  text-align: left;
  color: #fff;
  z-index: 10;
  position: relative;
}

.title {
  font-size: 50px;
  font-weight: 700;
  margin: 0 0 20px 0;
  line-height: 1.2;
}

.subtitle {
  font-size: 36px;
  margin: 0 0 20px 0;
  font-weight: 500;
}

.description {
  font-size: 20px;
  margin: 0;
  line-height: 1.6;
}

.swiper :global(.swiper-button-next),
.swiper :global(.swiper-button-prev) {
  color: #16a34a;
}

.swiper :global(.swiper-pagination-bullet-active) {
  background-color: #16a34a;
}

@media (max-width: 1023px) {
  .slideItem {
    height: 500px;
  }

  .title {
    font-size: 36px;
  }

  .subtitle {
    font-size: 28px;
  }

  .description {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .slideItem {
    height: 300px;
  }

  .title {
    font-size: 24px;
  }

  .subtitle {
    font-size: 18px;
  }

  .description {
    font-size: 14px;
  }
}



